<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>heimashop</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>ProductListServlet</display-name>
    <servlet-name>ProductListServlet</servlet-name>
    <servlet-class>com.heima.web.ProductListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServlet</servlet-name>
    <url-pattern>/productList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.heima.web.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.heima.web.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartRemoveServlet</display-name>
    <servlet-name>CartRemoveServlet</servlet-name>
    <servlet-class>com.heima.web.CartRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartRemoveServlet</servlet-name>
    <url-pattern>/cartremove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>admin/product/list.jsp</description>
    <display-name>ProductFindAllServlet</display-name>
    <servlet-name>ProductFindAllServlet</servlet-name>
    <servlet-class>com.heima.web.ProductFindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductFindAllServlet</servlet-name>
    <url-pattern>/admin/product/productFindAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>admin/category/list.jsp</description>
    <display-name>CategoryFindAllServlet</display-name>
    <servlet-name>CategoryFindAllServlet</servlet-name>
    <servlet-class>com.heima.web.CategoryFindAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryFindAllServlet</servlet-name>
    <url-pattern>/admin/category/categoryFindAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>product edit ui</description>
    <display-name>ProductEditUIServlet</display-name>
    <servlet-name>ProductEditUIServlet</servlet-name>
    <servlet-class>com.heima.web.ProductEditUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditUIServlet</servlet-name>
    <url-pattern>/admin/product/productEditUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEditServlet</display-name>
    <servlet-name>ProductEditServlet</servlet-name>
    <servlet-class>com.heima.web.ProductEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEditServlet</servlet-name>
    <url-pattern>/adminProduct_edit.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddServlet</display-name>
    <servlet-name>ProductAddServlet</servlet-name>
    <servlet-class>com.heima.web.ProductAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddServlet</servlet-name>
    <url-pattern>/adminProduct_add.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAddUIServlet</display-name>
    <servlet-name>ProductAddUIServlet</servlet-name>
    <servlet-class>com.heima.web.ProductAddUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAddUIServlet</servlet-name>
    <url-pattern>/admin/product/productAddUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>com.heima.web.ProductSearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/admin/product/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDelServlet</display-name>
    <servlet-name>ProductDelServlet</servlet-name>
    <servlet-class>com.heima.web.ProductDelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDelServlet</servlet-name>
    <url-pattern>/admin/product/del</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductDelMultiServlet</display-name>
    <servlet-name>ProductDelMultiServlet</servlet-name>
    <servlet-class>com.heima.web.ProductDelMultiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductDelMultiServlet</servlet-name>
    <url-pattern>/admin/product/delmulti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartAddServlet</display-name>
    <servlet-name>CartAddServlet</servlet-name>
    <servlet-class>com.heima.web.CartAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartAddServlet</servlet-name>
    <url-pattern>/cartAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartEmpty</display-name>
    <servlet-name>CartEmpty</servlet-name>
    <servlet-class>com.heima.web.CartEmpty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartEmpty</servlet-name>
    <url-pattern>/cartEmpty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchResultServlet</display-name>
    <servlet-name>SearchResultServlet</servlet-name>
    <servlet-class>com.heima.web.SearchResultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchResultServlet</servlet-name>
    <url-pattern>/searchResult</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchListServlet</display-name>
    <servlet-name>SearchListServlet</servlet-name>
    <servlet-class>com.heima.web.SearchListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchListServlet</servlet-name>
    <url-pattern>/searchList</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.heima.web.listener.SendBirthdayListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>UserIsExistServlet</display-name>
    <servlet-name>UserIsExistServlet</servlet-name>
    <servlet-class>com.heima.web.UserIsExistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserIsExistServlet</servlet-name>
    <url-pattern>/userIsExist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyCodeServlet</display-name>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>com.heima.web.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/verifycode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.heima.web.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.heima.web.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/userRegister</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AutoLoginFilter</display-name>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.heima.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UserExitServlet</display-name>
    <servlet-name>UserExitServlet</servlet-name>
    <servlet-class>com.heima.web.UserExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserExitServlet</servlet-name>
    <url-pattern>/userExit</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.heima.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyMailServlet</display-name>
    <servlet-name>VerifyMailServlet</servlet-name>
    <servlet-class>com.heima.web.VerifyMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyMailServlet</servlet-name>
    <url-pattern>/verifyMail</url-pattern>
  </servlet-mapping>
</web-app>